#headingTitle {
	text-align: center;
	color: #99FFFF;
	font-family: 'Kaushan Script', cursive;
}
body {
    background-image: url("../img/purdy.jpg");
	
}
.container {
	text-align: center;
}
.bg1 {
	background-image: url("../img/bg1.jpg");
}